.DS_Store
build/
dist/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.txc
*.txs
*.txcustomlist
*.txcustomsummary

__pycache__/
node_modules/
.astro/

examples/automatic-diff/review-generated.tex
